.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: rgba(44, 110, 73, 0.7);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.playButton:hover {
  background-color: rgba(44, 110, 73, 0.9);
  transform: scale(1.1);
}
